%table.table.table-striped.table-bordered
  %tr 
    %th Image 
    %th Name
    %th Price
    %th Seller
    %th Date Purchased
  = render partial: "orders/order", collection: @purchases, as: :order
  
  