#items .item {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: white;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
  text-shadow: 0 1px 0 #DDDDDD;
  width: 220px;
  margin: 20px 20px 20px 0;
  float: left;
  img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }
  p {
  	color: #A6A6A6;
  	text-align: center;
  	span {
  		font-weight: bold;
  	}
  }
}

th {
  text-align: center;
}
.header {
  background-image: url('https://dl.dropboxusercontent.com/u/271407585/header3.jpg');
  background-position: center center;
  margin-top: -20px;
  height: 800px;
  width: auto;
}
h1 {
  color: #fff;
}
.header-title {
    background-color: #30363a;
    font-size: 55px;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
    width: 700px;
}
.title-wrapper {
    padding-top: 300px;
    text-align: center;
    width: 100%;
}
.call-to-action {
  margin-top: 30px;
  text-align: center;
  a {
    font-size: 30px;
  }
}
.card-details {
  margin-top: 40px;
}
.new-listing {
  font-size: 20px;
  margin: 40px;
}